mixin event(data)
  .event
    a(href='https://www.facebook.com/events/' + data.id target='_blank')
      img(src=data.cover.source)
      h1 #{data.name}
      .info
        .organizer
          img(src='img/organizer.svg')
          span #{data.owner.name}
        .location
          img(src='img/location.svg')
          span #{data.place.name} #{data.place.city}
        - d = new Date(data.start_time);
        .time
          img(src='img/time.svg')
          span #{d.toString().split(' ').slice(0, 5).join(' ').split(':').slice(0, 2).join(':')}
